{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login_page.css') }}">

<div id="flash-popup-container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="flash-popup {{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<section>
  <div class="login-box">
    <h2>LOGIN</h2>
    <p>Please enter your username and password!</p>
    <form method="post" action="/login">
      <input type="text" placeholder="Username" name="username" required>
      <input id="password" type="password" placeholder="Password" name="password" required>
      <button type="submit" class="btn btn-hero btn-lg rounded-pill px-4 btn-outline-light">Login</button>
    </form>

    <div class="login-divider">or</div>

    <a href="{{ url_for('google_auth.google_login' ) }}" class="google-login-btn">
      <i class="fa-brands fa-google"></i>
      <span>Continue with Google</span>
    </a>
    <p style="font-size: 0.9rem; margin-top: 10px;">Create a account <a href="{{ url_for('register_bp.register' ) }}">Sign Up</a></p>


  </div>


</section>
<script>
  setTimeout(() => {
    document.querySelectorAll('.flash-popup').forEach((popup) => {
      popup.style.animation = "popup-hide 0.5s forwards";
      setTimeout(() => popup.remove(), 500);
    });
  }, 3000);
</script>
{%endblock%}